# Python - Basics

## Basic Usage

It's a good practice to represent big numbers with _ to facilitate reading by you and others

In [1]:
1_000_000_000

1000000000

In [2]:
print("Hello World")

Hello World

In [3]:
"""
This is a text with multiple Lines
you can break them 
IF you have triple quotes
(Can be single or double)
"""

'\nThis is a text with multiple Lines\nyou can break them \nIF you have triple quotes\n(Can be single or double)\n'

In [4]:
print("Trying to \\n skip the line break")

Trying to \n skip the line break

In [5]:
print("There is a tab \t in my text")

There is a tab 	 in my text

## Variables

In [6]:
my_variable = 2

In [7]:
print(my_variable)

2

In [8]:
print(f"My variable is {my_variable}")

My variable is 2

In [9]:
base_wage = 1500
commission = 0.05
sales_amount = 5000
full_wage = base_wage + (sales_amount * commission)

In [10]:
print(full_wage)

1750.0

In [11]:
base_wage = base_wage + 200
print(base_wage)

1700

In [12]:
# In this case the value didn't change because I didn't run the full_salary variable again.
print(full_wage)

1750.0

In [13]:
#Caps is indicated a constant
GRAVITY = 10

In [14]:
base_wage = 1500
minimum_wage = 1412

In [15]:
base_wage > minimum_wage

True

In [16]:
# bool type
base_wage == minimum_wage

False

In [17]:
base_wage != minimum_wage

True

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
type(base_wage)

int

## Buil-in Functions

In [21]:
type(print)

builtin_function_or_method

In [22]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [23]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [24]:
type(round(3.14159, 2))

float

In [25]:
pow(2, 3)

8

In [26]:
age = input("What is your age? ")

In [27]:
type(age)

str

In [28]:
age2 = int(input("What is your age? "))

In [29]:
type(age2)

int

## Sequential Types

### List
- Ordered items, there is no possibility to retreive with another order 
- Mutable Items

In [30]:
my_list = [1,2,3.3,'Data',True]

In [31]:
print(my_list)  ##Can be printed 
my_list[3]      ##Accessing an element

[1, 2, 3.3, 'Data', True]

'Data'

In [32]:
my_list[1] = 'Changed'  ##Modifying an element
my_list

[1, 'Changed', 3.3, 'Data', True]

### Tuples
- Ordered items, there is no possibility to retreive with another order 
- Non Mutable Items

In [33]:
my_tuple = (1,2,3.3,'Data',True)
my_tuple

(1, 2, 3.3, 'Data', True)

In [34]:
my_tuple[2] # We can access elements but cannot change them

3.3

### Strings
- Sequence of characters, can be treated as an array of characters
- Non Mutable Items

In [35]:
my_string = "Eu vou para a Disney"

In [36]:
my_string[7:11]

'para'

In [37]:
my_string[8]

'a'

In [38]:
len(my_string) # Length of the string.

20

In [39]:
"t" in my_string

False

In [40]:
my_string[-2]
## We can use functions like split, replace, upper, lower, etc. Also lists are iterable, we can use loops to iterate through them.

'e'

In [41]:
## list slicing, first:last:step. Excludes last index.
my_string[0:6]

'Eu vou'

### List Append / Remove

In [42]:
test = [1,4,67,4.675,44,True]

In [43]:
together = test + my_list
together

[1, 4, 67, 4.675, 44, True, 1, 'Changed', 3.3, 'Data', True]

In [44]:
test.append(12)
test

[1, 4, 67, 4.675, 44, True, 12]

In [45]:
new_list = [1,2,3]
old_list = [4,5,[6,7],6]

merging = new_list + old_list
merging

[1, 2, 3, 4, 5, [6, 7], 6]

In [46]:
merging[5][1]

7

In [47]:
new_list += [7,8,9]
new_list

[1, 2, 3, 7, 8, 9]

In [48]:
new_list.pop() # pop removes the last element and returns it

9

In [49]:
new_list.remove(8) # removes the first occurrence of the value passed as argument

In [50]:
new_list.append([10,11]) #This will add a new list as the last element of the list
new_list

[1, 2, 3, 7, [10, 11]]

In [51]:
new_list.pop()

[10, 11]

In [52]:
new_list.extend([12,13,14]) # extend will add each element of the iterable passed as argument to the list
new_list

[1, 2, 3, 7, 12, 13, 14]

In [53]:
test_pop = [1,2,3,4,5,6,7,8,9,10]
test_pop.pop(4) # pops the element at index 4
test_pop

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [54]:
tupla = (1,2,3,4,5)
tupla += (6,7)  # we can concatenate tuples to create a new one, but we cannot change elements of the tuple.
tupla

(1, 2, 3, 4, 5, 6, 7)

In [55]:
tuple_to_list = list(tupla)
tuple_to_list

[1, 2, 3, 4, 5, 6, 7]

In [56]:
# Unpacking
coordenates = (10,20,30)
x, y, z = coordenates

In [57]:
print(x)
print(y)
print(z)

10
20
30

## Dictionaries

In [58]:
# Creating my first dict
my_dict = { 
    'name': ['John'],
    'age': 30,
    'is_employee': True,
    'skills': ['Python', 'Data Analysis', 'Machine Learning']
}

In [59]:
 # Accessing value by key
my_dict['name']

['John']

In [60]:
# With print there is no quote output. If I remove the print, it shows the quotes
print(my_dict['skills'][2]) 
my_dict['skills'][1]

Machine Learning

'Data Analysis'

In [61]:
# Adding a new key-value pair
my_dict['address'] = '123 Main St'

In [62]:
my_dict['name'].append('Doe')

In [63]:
my_dict

{'name': ['John', 'Doe'],
 'age': 30,
 'is_employee': True,
 'skills': ['Python', 'Data Analysis', 'Machine Learning'],
 'address': '123 Main St'}

In [ ]:
#Attibuting name to the dict. If I wanted I could append into the list
my_dict['name'] = 'Edward'

In [65]:
my_dict

{'name': 'Edward',
 'age': 30,
 'is_employee': True,
 'skills': ['Python', 'Data Analysis', 'Machine Learning'],
 'address': '123 Main St'}

In [ ]:
# Searching key address in dictionary
'address' in my_dict

True

In [ ]:
# Using get method to access value by key
# The second parameter is returned if the key does not exist
my_dict.get('Space',0)

0

In [ ]:
# Checking keys of the dict
my_dict.keys()

dict_keys(['name', 'age', 'is_employee', 'skills', 'address'])

In [ ]:
# Searching names in the values
# 'Edward' in my_dict.values()
'Python' in my_dict['skills']

True

In [ ]:
# Getting items
my_dict.items()

dict_items([('name', 'Edward'), ('age', 30), ('is_employee', True), ('skills', ['Python', 'Data Analysis', 'Machine Learning']), ('address', '123 Main St')])

In [71]:
typle_test = [('name','Erick'),('Age',33)]

In [72]:
dict(typle_test).values()

dict_values(['Erick', 33])

In [73]:
my_dict['skills'][0]

'Python'

In [ ]:
contato = ['eu','voce']

In [ ]:
contato.append('nos')

In [76]:
# Define list of items
itens = ['caneta','lapis','caneta','borracha','lapis','caneta']

# Make a dict with them
lista = {
    'caneta' : itens.count('caneta'),
    'lapis' : itens.count('lapis'),
    'borracha' : itens.count('borracha')
}

print(lista)

{'caneta': 3, 'lapis': 2, 'borracha': 1}

In [77]:
# Creating a "database"
dados = ['ana',20,'Marcos',23,'Cleide',234]

# Segregating names and ages into different lists
nomes = dados[::2]
idades = dados[1::2]

# Transforming into a Dict
dict(zip(nomes,idades))

{'ana': 20, 'Marcos': 23, 'Cleide': 234}

In [79]:
print(nomes)
print(idades)

['ana', 'Marcos', 'Cleide']
[20, 23, 234]

In [108]:
# Using set to get unique values
dep_a = ['Ana','Luis','Clara']
dep_b = ['Marcos','Jonas','Mariana','Ana']

new_structure = dep_a + dep_b
# dep_a.extend(dep_b) # --> Extend is also a possibility

list(set(new_structure))

['Marcos', 'Mariana', 'Clara', 'Ana', 'Jonas', 'Luis']

In [109]:
dep_a.extend(dep_b)

In [111]:
tuple(set(dep_a))

('Marcos', 'Mariana', 'Clara', 'Ana', 'Jonas', 'Luis')

## String Format

In [132]:
nome = 'Erick'
idade = 33
altura = 1532.76
# < format to left align
# ^ center align
# > right align
print(f"Meu nome é {nome:<8}, tenho {idade:-^20} anos e minha altura é {altura:.>9}m.")

Meu nome é Erick   , tenho ---------33--------- anos e minha altura é ..1532.76m.

In [135]:
#format number
print(f"Meu nome é {nome}, tenho {idade} anos e minha altura é {altura:,.4f}mm.")

Meu nome é Erick, tenho 33 anos e minha altura é 1,532.7600mm.

### Sting Methods

In [ ]:

message = "Hello, World! Welcome to Data Science with Python."

In [142]:
print(message.upper())
print(message.capitalize())
print(message.lower())

HELLO, WORLD! WELCOME TO DATA SCIENCE WITH PYTHON.
Hello, world! welcome to data science with python.
hello, world! welcome to data science with python.

In [144]:
message.title().swapcase()

'hELLO, wORLD! wELCOME tO dATA sCIENCE wITH pYTHON.'

In [147]:
message.count("w")

1

In [148]:
message.split(" ")

['Hello,', 'World!', 'Welcome', 'to', 'Data', 'Science', 'with', 'Python.']

## IF Statements

In [2]:
name = 'Erick'
if name == 'Erick':
    print("Your name is Erick")
elif name == 'John':
    print("Your name is John")
else:
    print("Your name is neither Erick nor John")

Your name is Erick

In [3]:
num = 10
if num > 0:
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative")

The number is positive

In [9]:
funcionarios = {
    'name': 'Emily Davis',
    'age': 34,
    'position': 'ML Engineer',
    'yearsworked': 5
}

In [10]:
if funcionarios['yearsworked'] >= 3:
    print("Elegible for bonus")

Elegible for bonus

In [6]:
funcionarios = {
    'name': ['John Doe', 'Jane Smith', 'Emily Davis'],
    'age': [28, 34, 29],
    'position': ['Data Analyst', 'Data Scientist', 'ML Engineer'],
    'yearsworked': [3, 5, 2]
}

In [8]:
for i in range(len(funcionarios['yearsworked'])):
    if funcionarios['yearsworked'][i] >= 3:
        print("Elegible for bonus")
    else:
        print("Not elegible for bonus")

Elegible for bonus
Elegible for bonus
Not elegible for bonus

In [11]:
num = 13

if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

## For Statements

Finishing up day 3 - Start lesson 51 - For loops!