# Python - Basics

## Basic Usage

It's a good practice to represent big numbers with _ to facilitate reading by you and others

In [1]:
1_000_000_000

1000000000

In [2]:
print("Hello World")

Hello World

In [3]:
"""
This is a text with multiple Lines
you can break them 
IF you have triple quotes
(Can be single or double)
"""

'\nThis is a text with multiple Lines\nyou can break them \nIF you have triple quotes\n(Can be single or double)\n'

In [4]:
print("Trying to \\n skip the line break")

Trying to \n skip the line break

In [5]:
print("There is a tab \t in my text")

There is a tab 	 in my text

## Variables

In [6]:
my_variable = 2

In [7]:
print(my_variable)

2

In [8]:
print(f"My variable is {my_variable}")

My variable is 2

In [9]:
base_wage = 1500
commission = 0.05
sales_amount = 5000
full_wage = base_wage + (sales_amount * commission)

In [10]:
print(full_wage)

1750.0

In [11]:
base_wage = base_wage + 200
print(base_wage)

1700

In [12]:
# In this case the value didn't change because I didn't run the full_salary variable again.
print(full_wage)

1750.0

In [13]:
#Caps is indicated a constant
GRAVITY = 10

In [14]:
base_wage = 1500
minimum_wage = 1412

In [15]:
base_wage > minimum_wage

True

In [16]:
# bool type
base_wage == minimum_wage

False

In [17]:
base_wage != minimum_wage

True

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
type(base_wage)

int

## Buil-in Functions

In [21]:
type(print)

builtin_function_or_method

In [22]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [23]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [24]:
type(round(3.14159, 2))

float

In [25]:
pow(2, 3)

8

In [26]:
age = input("What is your age? ")

In [27]:
type(age)

str

In [28]:
age2 = int(input("What is your age? "))

In [29]:
type(age2)

int

## Sequential Types

### List
- Ordered items, there is no possibility to retreive with another order 
- Mutable Items

In [30]:
my_list = [1,2,3.3,'Data',True]

In [31]:
print(my_list)  ##Can be printed 
my_list[3]      ##Accessing an element

[1, 2, 3.3, 'Data', True]

'Data'

In [32]:
my_list[1] = 'Changed'  ##Modifying an element
my_list

[1, 'Changed', 3.3, 'Data', True]

### Tuples
- Ordered items, there is no possibility to retreive with another order 
- Non Mutable Items

In [33]:
my_tuple = (1,2,3.3,'Data',True)
my_tuple

(1, 2, 3.3, 'Data', True)

In [34]:
my_tuple[2] # We can access elements but cannot change them

3.3

### Strings
- Sequence of characters, can be treated as an array of characters
- Non Mutable Items

In [35]:
my_string = "Eu vou para a Disney"

In [36]:
my_string[7:11]

'para'

In [37]:
my_string[8]

'a'

In [38]:
len(my_string) # Length of the string.

20

In [39]:
"t" in my_string

False

In [40]:
my_string[-2]
## We can use functions like split, replace, upper, lower, etc. Also lists are iterable, we can use loops to iterate through them.

'e'

In [41]:
## list slicing, first:last:step. Excludes last index.
my_string[0:6]

'Eu vou'

### List Append / Remove

In [42]:
test = [1,4,67,4.675,44,True]

In [43]:
together = test + my_list
together

[1, 4, 67, 4.675, 44, True, 1, 'Changed', 3.3, 'Data', True]

In [44]:
test.append(12)
test

[1, 4, 67, 4.675, 44, True, 12]

In [45]:
new_list = [1,2,3]
old_list = [4,5,[6,7],6]

merging = new_list + old_list
print(merging)

[1, 2, 3, 4, 5, [6, 7], 6]

In [46]:
merging[5][1]

7

In [47]:
new_list += [7,8,9]
print(new_list)

[1, 2, 3, 7, 8, 9]

In [48]:
new_list.pop() # pop removes the last element and returns it

9

In [49]:
new_list.remove(8) # removes the first occurrence of the value passed as argument

In [50]:
new_list.append([10,11]) #This will add a new list as the last element of the list
print(new_list)

[1, 2, 3, 7, [10, 11]]

In [51]:
new_list.pop()

[10, 11]

In [52]:
new_list.extend([12,13,14]) # extend will add each element of the iterable passed as argument to the list
print(new_list)

[1, 2, 3, 7, 12, 13, 14]

In [53]:
test_pop = [1,2,3,4,5,6,7,8,9,10]
test_pop.pop(4) # pops the element at index 4
print(test_pop)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [54]:
tupla = (1,2,3,4,5)
tupla += (6,7)  # we can concatenate tuples to create a new one, but we cannot change elements of the tuple.
print(tupla)

(1, 2, 3, 4, 5, 6, 7)

In [55]:
tuple_to_list = list(tupla)
print(tuple_to_list)

[1, 2, 3, 4, 5, 6, 7]

In [56]:
# Unpacking
coordenates = (10,20,30)
x, y, z = coordenates

In [57]:
print(x)
print(y)
print(z)

10
20
30

## Dictionaries

In [58]:
# Creating my first dict
my_dict = { 
    'name': ['John'],
    'age': 30,
    'is_employee': True,
    'skills': ['Python', 'Data Analysis', 'Machine Learning']
}

In [59]:
 # Accessing value by key
my_dict['name']

['John']

In [60]:
# With print there is no quote output. If I remove the print, it shows the quotes
print(my_dict['skills'][2]) 
my_dict['skills'][1]

Machine Learning

'Data Analysis'

In [61]:
# Adding a new key-value pair
my_dict['address'] = '123 Main St'

In [62]:
my_dict['name'].append('Doe')

In [63]:
my_dict

{'name': ['John', 'Doe'],
 'age': 30,
 'is_employee': True,
 'skills': ['Python', 'Data Analysis', 'Machine Learning'],
 'address': '123 Main St'}

In [64]:
#Attibuting name to the dict. If I wanted I could append into the list
my_dict['name'] = 'Edward'

In [65]:
my_dict

{'name': 'Edward',
 'age': 30,
 'is_employee': True,
 'skills': ['Python', 'Data Analysis', 'Machine Learning'],
 'address': '123 Main St'}

In [66]:
# Searching key address in dictionary
'address' in my_dict

True

In [67]:
# Using get method to access value by key
# The second parameter is returned if the key does not exist
my_dict.get('Space',0)

0

In [68]:
# Checking keys of the dict
my_dict.keys()

dict_keys(['name', 'age', 'is_employee', 'skills', 'address'])

In [69]:
# Searching names in the values
# 'Edward' in my_dict.values()
'Python' in my_dict['skills']

True

In [70]:
# Getting items
my_dict.items()

dict_items([('name', 'Edward'), ('age', 30), ('is_employee', True), ('skills', ['Python', 'Data Analysis', 'Machine Learning']), ('address', '123 Main St')])

In [71]:
typle_test = [('name','Erick'),('Age',33)]

In [72]:
dict(typle_test).values()

dict_values(['Erick', 33])

In [73]:
my_dict['skills'][0]

'Python'

In [74]:
contato = ['eu','voce']

In [75]:
contato.append('nos')

In [76]:
# Define list of items
itens = ['caneta','lapis','caneta','borracha','lapis','caneta']

# Make a dict with them
lista = {
    'caneta' : itens.count('caneta'),
    'lapis' : itens.count('lapis'),
    'borracha' : itens.count('borracha')
}

print(lista)

{'caneta': 3, 'lapis': 2, 'borracha': 1}

In [77]:
# Creating a "database"
dados = ['ana',20,'Marcos',23,'Cleide',234]

# Segregating names and ages into different lists
nomes = dados[::2]
idades = dados[1::2]

# Transforming into a Dict
dict(zip(nomes,idades))

{'ana': 20, 'Marcos': 23, 'Cleide': 234}

In [78]:
print(nomes)
print(idades)

['ana', 'Marcos', 'Cleide']
[20, 23, 234]

In [79]:
# Using set to get unique values
dep_a = ['Ana','Luis','Clara']
dep_b = ['Marcos','Jonas','Mariana','Ana']

new_structure = dep_a + dep_b
# dep_a.extend(dep_b) # --> Extend is also a possibility

list(set(new_structure))

['Jonas', 'Marcos', 'Mariana', 'Luis', 'Ana', 'Clara']

In [80]:
dep_a.extend(dep_b)

In [81]:
tuple(set(dep_a))

('Jonas', 'Marcos', 'Mariana', 'Luis', 'Ana', 'Clara')

## String Format

In [82]:
nome = 'Erick'
idade = 33
altura = 1532.76
# < format to left align
# ^ center align
# > right align
print(f"Meu nome é {nome:<8}, tenho {idade:-^20} anos e minha altura é {altura:.>9}m.")

Meu nome é Erick   , tenho ---------33--------- anos e minha altura é ..1532.76m.

In [83]:
#format number
print(f"Meu nome é {nome}, tenho {idade} anos e minha altura é {altura:,.4f}mm.")

Meu nome é Erick, tenho 33 anos e minha altura é 1,532.7600mm.

### Sting Methods

In [84]:

message = "Hello, World! Welcome to Data Science with Python."

In [85]:
print(message.upper())
print(message.capitalize())
print(message.lower())

HELLO, WORLD! WELCOME TO DATA SCIENCE WITH PYTHON.
Hello, world! welcome to data science with python.
hello, world! welcome to data science with python.

In [86]:
message.title().swapcase()

'hELLO, wORLD! wELCOME tO dATA sCIENCE wITH pYTHON.'

In [87]:
message.count("w")

1

In [88]:
message.split(" ")

['Hello,', 'World!', 'Welcome', 'to', 'Data', 'Science', 'with', 'Python.']

## IF Statements

In [89]:
name = 'Erick'
if name == 'Erick':
    print("Your name is Erick")
elif name == 'John':
    print("Your name is John")
else:
    print("Your name is neither Erick nor John")

Your name is Erick

In [90]:
num = 10
if num > 0:
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative")

The number is positive

In [91]:
funcionarios = {
    'name': 'Emily Davis',
    'age': 34,
    'position': 'ML Engineer',
    'yearsworked': 5
}

In [92]:
if funcionarios['yearsworked'] >= 3:
    print("Elegible for bonus")

Elegible for bonus

In [93]:
funcionarios = {
    'name': ['John Doe', 'Jane Smith', 'Emily Davis'],
    'age': [28, 34, 29],
    'position': ['Data Analyst', 'Data Scientist', 'ML Engineer'],
    'yearsworked': [3, 5, 2]
}

In [94]:
for i in range(len(funcionarios['yearsworked'])):
    if funcionarios['yearsworked'][i] >= 3:
        print("Elegible for bonus")
    else:
        print("Not elegible for bonus")

Elegible for bonus
Elegible for bonus
Not elegible for bonus

In [95]:
num = 13

if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

## For Statements

In [96]:
for i in range (1,11):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [97]:
n=0
for letter in "DataS cience":
    print(letter)
    n +=1

print(f"There was a total of {n} letters in the word.")

D
a
t
a
S

c
i
e
n
c
e
There was a total of 12 letters in the word.

In [98]:
my_dict = {
    'a': 1,
    'b': 2
}

In [99]:
for key in my_dict:
    print(f"Key: {key}, Value: {my_dict[key]}")

Key: a, Value: 1
Key: b, Value: 2

### Enumerate

In [100]:
task = ['cleaning', 'transformation', 'modeling']
for index, value in enumerate(task, start=1): #Use start parameter instead of adding 1 to index
    print(f"Task {index}: {value}")

Task 1: cleaning
Task 2: transformation
Task 3: modeling

In [101]:
name = ['Ana','Erick','Maria']
grade = [9,8,10]

for name, grade in zip(name, grade):
    print(f"{name} has a grade of {grade}")

Ana has a grade of 9
Erick has a grade of 8
Maria has a grade of 10

### Loop Comprehension

In [102]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [103]:
daily_Sales = [100, 200, 150, 300, 250]
bonus = 0.1

daily_bonus = [sale * bonus for sale in daily_Sales if sale > 150 ]
daily_bonus

[20.0, 30.0, 25.0]

In [104]:
sales_per_product = {
    'shirt': 150,
    'pants': 100,
    'shoes': 200
}
prices = {
    'shirt': 10,
    'pants': 15,
    'shoes': 50
}

{
    product: sales_per_product[product] * prices[product] for product in sales_per_product if sales_per_product[product] > 120
}

{'shirt': 1500, 'shoes': 10000}

## While

In [105]:
quantity = 10
minimum_qtd = 2

while quantity > minimum_qtd:
    
    quantity -= 1

print(f"Final quantity: {quantity}. We need to restock.")

Final quantity: 2. We need to restock.

In [106]:
senha_correta = "data123"
attempts = 3

while attempts > 0:
    senha = input("Enter your password: ")
    if senha == senha_correta:
        print("Access granted.")
        break
    else:
        attempts -= 1
        print(f"Incorrect password. You have {attempts} attempts left.")    

if attempts == 0:
    print("Access blocked.")

Incorrect password. You have 2 attempts left.
Incorrect password. You have 1 attempts left.
Incorrect password. You have 0 attempts left.
Access blocked.

## Try Except

In [107]:
tansactions = [100.00, None, 250.50, None, 300.00]

for i, value in enumerate(tansactions, start=1):
    try:
        discount = value * 0.05
        print(f"transaction {i}: Purchase of ${value:.2f} has a discount of ${discount:.2f}")
    except TypeError:
        print(f"Transaction {i}: Incomplete")

transaction 1: Purchase of $100.00 has a discount of $5.00
Transaction 2: Incomplete
transaction 3: Purchase of $250.50 has a discount of $12.53
Transaction 4: Incomplete
transaction 5: Purchase of $300.00 has a discount of $15.00

## Functions

In [108]:
def divide_nbrs(a, b):
    """
    Divides two numbers and handles division by zero.

    Parameters:
    a (float): The dividend.
    b (float): The divisor.

    Returns:
    float: The result of the division if no error occurs.
    str: An error message if division by zero is attempted.
    """
    try:
        return a / b
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

In [109]:
divide_nbrs(10, 0)

'Error: Division by zero is not allowed.'

In [110]:
divide_nbrs(4,1.8)

2.2222222222222223

In [111]:
def give_discount(total_value, discount_rate):
    """
    Calculate the discountin a given total value based on the discount rate.

    Parameters:
    total_value: float
        total amount before the discount

    discount_rate: float
        discount rate as a decimal (e.g., 0.1 for 10%)

    returns: 
        total_discount: float
            the amount of discount that was given
        final_amount: float
            the total amount after applying the discount
    """
    total_discount = total_value * discount_rate
    final_amount = total_value - total_discount
    return total_discount, final_amount

In [114]:
purchase_amount = 250.00

total_discount, final_amount = give_discount(purchase_amount, 0.1)

print(f"Total discount: ${total_discount:.2f}")
print(f"Final amount to pay: ${final_amount:.2f}" )

Total discount: $25.00
Final amount to pay: $225.00

## Classes

In [116]:
## classes can be associated with a mold that can be reused over time.
## Classes have attributes (characteristics) and methods (actions)

In [117]:
class Car:

    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def exibit_info(self):
        print(f"Car Info: {self.brand} {self.model}, Year: {self.year}")

In [123]:
Car1 = Car("Toyota", "Corolla", 2020)
Car2 = Car("Honda", "Civic", 2019)

In [124]:
Car1.exibit_info()
Car2.exibit_info()

Car Info: Toyota Corolla, Year: 2020
Car Info: Honda Civic, Year: 2019

In [127]:
Car2.brand == Car1.brand

False

In [128]:
class Sale:

    def __init__(self, sales_id, product, quantity, price):
        self.sales_id = sales_id
        self.product = product
        self.quantity = quantity
        self.price = price

    def total_amount(self):
        return self.quantity * self.price
    
    def show_details(self):
        print(f"Sale ID: {self.sales_id}, Product: {self.product}, Quantity: {self.quantity}, Price: ${self.price:.2f}, Total Amount: ${self.total_amount():.2f}")

In [129]:
FirstSale = Sale(1, "LabBlob", 2, 4555.29)

In [133]:
FirstSale.total_amount()
FirstSale.show_details()

Sale ID: 1, Product: LabBlob, Quantity: 2, Price: $4555.29, Total Amount: $9110.58

In [134]:
SecondSale = Sale(2,"House", 1, 3333303.00)

In [135]:
SecondSale.product

'House'

In [136]:
SecondSale.total_amount()

3333303.0

In [137]:
# Finishing up the Python Basics