# Python - Basics

## Basic Usage

It's a good practice to represent big numbers with _ to facilitate reading by you and others

In [1]:
1_000_000_000

1000000000

In [2]:
print("Hello World")

Hello World

In [3]:
"""
This is a text with multiple Lines
you can break them 
IF you have triple quotes
(Can be single or double)
"""

'\nThis is a text with multiple Lines\nyou can break them \nIF you have triple quotes\n(Can be single or double)\n'

In [4]:
print("Trying to \\n skip the line break")

Trying to \n skip the line break

In [5]:
print("There is a tab \t in my text")

There is a tab 	 in my text

## Variables

In [6]:
my_variable = 2

In [7]:
print(my_variable)

2

In [8]:
print(f"My variable is {my_variable}")

My variable is 2

In [9]:
base_wage = 1500
commission = 0.05
sales_amount = 5000
full_wage = base_wage + (sales_amount * commission)

In [10]:
print(full_wage)

1750.0

In [11]:
base_wage = base_wage + 200
print(base_wage)

1700

In [12]:
# In this case the value didn't change because I didn't run the full_salary variable again.
print(full_wage)

1750.0

In [13]:
#Caps is indicated a constant
GRAVITY = 10

In [14]:
base_wage = 1500
minimum_wage = 1412

In [15]:
base_wage > minimum_wage

True

In [16]:
# bool type
base_wage == minimum_wage

False

In [17]:
base_wage != minimum_wage

True

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
type(base_wage)

int

## Buil-in Functions

In [21]:
type(print)

builtin_function_or_method

In [22]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [23]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [24]:
type(round(3.14159, 2))

float

In [25]:
pow(2, 3)

8

In [26]:
age = input("What is your age? ")

In [27]:
type(age)

str

In [28]:
age2 = int(input("What is your age? "))

In [29]:
type(age2)

int

## Sequential Types

### List
- Ordered items, there is no possibility to retreive with another order 
- Mutable Items

In [30]:
my_list = [1,2,3.3,'Data',True]

In [31]:
print(my_list)  ##Can be printed 
my_list[3]      ##Accessing an element

[1, 2, 3.3, 'Data', True]

'Data'

In [32]:
my_list[1] = 'Changed'  ##Modifying an element
my_list

[1, 'Changed', 3.3, 'Data', True]

### Tuples
- Ordered items, there is no possibility to retreive with another order 
- Non Mutable Items

In [33]:
my_tuple = (1,2,3.3,'Data',True)
my_tuple

(1, 2, 3.3, 'Data', True)

In [34]:
my_tuple[2] # We can access elements but cannot change them

3.3

### Strings
- Sequence of characters, can be treated as an array of characters
- Non Mutable Items

In [35]:
my_string = "Eu vou para a Disney"

In [36]:
my_string[7:11]

'para'

In [37]:
my_string[8]

'a'

In [38]:
len(my_string) # Length of the string.

20

In [39]:
"t" in my_string

False

In [40]:
my_string[-2]
## We can use functions like split, replace, upper, lower, etc. Also lists are iterable, we can use loops to iterate through them.

'e'

In [41]:
## list slicing, first:last:step. Excludes last index.
my_string[0:6]

'Eu vou'

### List Append / Remove

In [42]:
test = [1,4,67,4.675,44,True]

In [43]:
together = test + my_list
together

[1, 4, 67, 4.675, 44, True, 1, 'Changed', 3.3, 'Data', True]

In [44]:
test.append(12)
test

[1, 4, 67, 4.675, 44, True, 12]

In [45]:
new_list = [1,2,3]
old_list = [4,5,[6,7],6]

merging = new_list + old_list
merging

[1, 2, 3, 4, 5, [6, 7], 6]

In [46]:
merging[5][1]

7

In [47]:
new_list += [7,8,9]
new_list

[1, 2, 3, 7, 8, 9]

In [ ]:
new_list.pop() # pop removes the last element and returns it

9

In [ ]:
new_list.remove(8) # removes the first occurrence of the value passed as argument

In [ ]:
new_list.append([10,11]) #This will add a new list as the last element of the list
new_list

[1, 2, 3, 7, [10, 11]]

In [56]:
new_list.pop()

[10, 11]

In [58]:
new_list.extend([12,13,14]) # extend will add each element of the iterable passed as argument to the list
new_list

[1, 2, 3, 7, 12, 13, 14, 12, 13, 14]

In [60]:
test_pop = [1,2,3,4,5,6,7,8,9,10]
test_pop.pop(4) # pops the element at index 4
test_pop

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
tupla = (1,2,3,4,5)
tupla += (6,7)  # we can concatenate tuples to create a new one, but we cannot change elements of the tuple.
tupla

(1, 2, 3, 4, 5, 6, 7)

In [63]:
tuple_to_list = list(tupla)
tuple_to_list

[1, 2, 3, 4, 5, 6, 7]

In [64]:
# Unpacking
coordenates = (10,20,30)
x, y, z = coordenates

In [65]:
print(x)
print(y)
print(z)

10
20
30

## Dictionaries

End of day 2 - Stopped at class 26